* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: white;
  }
  
  a:active {
    color: white;
  }

body {
    background-image: url(./img/fondo.png);
    display: flex;
    justify-content: center;

}

body, html {
    height: 100%;
    align-items: center;
}

section {
    display: flex;
    background-color: rgba(255, 163, 179, 0.8);
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

